# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1282]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [1283]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [1284]:
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [1285]:
#intento sacar el primero nombre 

element = soup.find('h1', {'class': 'h3 lh-condensed'})

#con el tag a accedo al nombre y dentro del atributo text se enucentra lo que busco

name = element.find('a').text.strip()

#nombre de usuario está en href del mismo tag a 

username = element.find('a')['href'][1:]
username

'wader'

In [1286]:
#ahora vamos a por todos así que metemos un find all

elements = soup.find_all('h1', {'class': 'h3 lh-condensed'})

trendy = []

for e in elements:
    name = e.find('a').text.strip()
    user = e.find('a')['href'][1:]
    trendy.append(f'{name} ({user})')

elements

trendy

['Mattias Wadman (wader)',
 'lllyasviel (lllyasviel)',
 'Lianmin Zheng (merrymercy)',
 'Jerry Liu (jerryjliu)',
 'Henrik Rydgård (hrydgard)',
 'Harrison Chase (hwchase17)',
 'Fons van der Plas (fonsp)',
 'Steven Tey (steven-tey)',
 'Andreas Thomas (chronark)',
 'pilcrowOnPaper (pilcrowOnPaper)',
 'Laurent Mazare (LaurentMazare)',
 'yetone (yetone)',
 'Tom Payne (twpayne)',
 'Raphaël Benitte (plouc)',
 'Dillon Nys (dnys1)',
 'Will McGugan (willmcgugan)',
 'Luca Palmieri (LukeMathWalker)',
 'Payton Swick (sirbrillig)',
 'Martí Climent (marticliment)',
 'dgtlmoon (dgtlmoon)',
 'Jelle Zijlstra (JelleZijlstra)',
 'J. Nick Koston (bdraco)',
 'Nuno Campos (nfcampos)',
 'Juliette (jrfnl)',
 'Lee Robinson (leerob)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [1287]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [1288]:
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1289]:
#intento sacar el primero nombre 

element = soup.find('h2', {'class': 'h3 lh-condensed'})
name = element.find('a').text.strip()
clean = name.replace('\n', '').strip().replace(' ', '')

clean

'mlc-ai/mlc-llm'

In [1290]:
#ahora el resto
elements = soup.find_all('h2', {'class': 'h3 lh-condensed'})

trendy = []

for e in elements:
    name = e.find('a').text.strip()
    clean = name.replace('\n', '').strip().replace(' ', '')
    trendy.append(clean)

trendy

['mlc-ai/mlc-llm',
 'AIGC-Audio/AudioGPT',
 'gventuri/pandas-ai',
 'xtekky/gpt4free',
 'irgolic/AutoPR',
 'lamini-ai/lamini',
 'deep-floyd/IF',
 'deforum-art/deforum-stable-diffusion',
 'home-assistant/core',
 'cirediatpl/FigmaChain',
 'IntelligenzaArtificiale/Free-AUTO-GPT-with-NO-API',
 'mlc-ai/web-llm',
 'AUTOMATIC1111/stable-diffusion-webui',
 'ddPn08/Radiata',
 'deforum-art/deforum-for-automatic1111-webui',
 'ZrrSkywalker/LLaMA-Adapter',
 'yt-dlp/yt-dlp',
 'nlpxucan/WizardLM',
 'GitHubDaily/ChatGPT-Prompt-Engineering-for-Developers-in-Chinese',
 'georgia-tech-db/eva',
 'xtekky/chatgpt-clone',
 'mahdibland/V2RayAggregator',
 'KurtBestor/Hitomi-Downloader',
 'jaywalnut310/vits',
 'isaiahbjork/Auto-GPT-Crypto-Plugin']

#### Display all the image links from Walt Disney wikipedia page

In [1291]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [1292]:
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1293]:
link = []

pics = soup.find_all('img')
for pic in pics:
    link.append(pic['src'])

link[:3]

['/static/images/icons/wikipedia.png',
 '/static/images/mobile/copyright/wikipedia-wordmark-en.svg',
 '/static/images/mobile/copyright/wikipedia-tagline-en.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [1294]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [1295]:
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

Python Mythology

In [1296]:
url = 'https://en.wikipedia.org/wiki/Python_(mythology)'

In [1297]:
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

List of links

In [1298]:
links = []
for a in soup.find_all('a', href=True):
    links.append(a['href'])

result = []

for l in links:
    if l.startswith('https'):
        result.append(l)

result[:3]

['https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 'https://af.wikipedia.org/wiki/Piton',
 'https://az.wikipedia.org/wiki/Pithon']

#### Number of Titles that have changed in the United States Code since its last release point

In [1299]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [1300]:
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1301]:
us = soup.find_all('div', class_='uscitem')

a = []

for u in us:
    ok = u.text.strip()
    if ok.startswith('Title'):
        a.append(ok)

len(a)

54

#### A Python list with the top ten FBI's Most Wanted names

In [1302]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [1303]:
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1304]:
#your code 
fbi = soup.find_all('h3', class_='title')

criminal = []

for f in fbi:
    criminal.append(f.text.strip())

criminal

['BHADRESHKUMAR CHETANBHAI PATEL',
 'WILVER VILLEGAS-PALOMINO',
 'ALEJANDRO ROSALES CASTILLO',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'YULAN ADONAY ARCHAGA CARIAS',
 'MICHAEL JAMES PRATT',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [1339]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [1340]:
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1341]:
#your code
tabla = soup.find_all('table')[3]
cuerpo_tabla=tabla.find('tbody')
filas=tabla.find_all('tr')[5:25]
date_time=[]
lat=[]
lon=[]
region=[]
columnas=filas[0].find_all('td')


for x in filas:
    columnas=x.find_all('td')
    date_time.append(columnas[3].find('a').text.replace('\xa0\xa0\xa0', ' '))
    lat.append(str(columnas[4].text.replace('\xa0','')+' '+columnas[5].text.replace('\xa0',''))) 
    lon.append(str(columnas[6].text.replace('\xa0','')+' '+columnas[7].text.replace('\xa0','')))
    region.append(columnas[11].text.replace('\xa0',''))

In [1342]:
resultado=pd.DataFrame()
resultado['Date & Time UTC']=date_time
resultado['Latitude degrees']=lat
resultado['Longitude degrees']=lon
resultado['Region name']=region

In [1343]:
cols = soup.find_all('th', class_='th2')

cola = []

for c in cols:
    cola.append(c.text.strip())

cola

['CitizenResponse',
 'Date & Time UTC',
 'Latitude degrees',
 'Longitude degrees',
 'Depth km',
 'Mag  [+]',
 'Region name  [+]',
 'Last update [-]']

In [1344]:
resultado

,Date & Time UTC,Latitude degrees,Longitude degrees,Region name
0,2023-05-03 04:51:59.7,27.92 N,15.27 W,"CANARY ISLANDS, SPAIN REGION"
1,2023-05-03 04:49:24.0,13.19 N,87.66 W,"GOLFO DE FONSECA, EL SALVADOR"
2,2023-05-03 04:38:12.4,32.70 N,115.54 W,"MEXICALI-CALEXICO AREA, CALIF."
3,2023-05-03 04:22:57.8,19.36 N,155.02 W,"ISLAND OF HAWAII, HAWAII"
4,2023-05-03 04:15:50.9,38.11 N,37.09 E,CENTRAL TURKEY
5,2023-05-03 04:13:08.3,37.97 N,36.17 E,CENTRAL TURKEY
6,2023-05-03 04:07:37.0,32.97 S,72.13 W,"OFFSHORE VALPARAISO, CHILE"
7,2023-05-03 04:04:06.0,16.49 N,95.16 W,"OAXACA, MEXICO"
8,2023-05-03 03:53:52.6,36.66 N,71.09 E,"HINDU KUSH REGION, AFGHANISTAN"
9,2023-05-03 03:27:13.3,38.23 N,37.19 E,CENTRAL TURKEY
10,2023-05-03 03:14:17.8,36.81 N,121.54 W,CENTRAL CALIFORNIA
11,2023-05-03 03:04:36.5,39.59 N,20.64 E,GREECE
12,2023-05-03 02:58:07.2,34.52 N,97.20 W,OKLAHOMA
13,2023-05-03 02:53:56.6,38.86 N,15.29 E,"SICILY, ITALY"
14,2023-05-03 02:40:02.0,12.53 N,88.03 W,NEAR COAST OF NICARAGUA
15,2023-05-03 02:21:35.4,36.19 N,35.97 E,CENTRAL TURKEY
16,2023-05-03 02:18:27.5,37.99 N,37.91 E,CENTRAL TURKEY
17,2023-05-03 02:13:14.9,41.67 N,144.39 E,"HOKKAIDO, JAPAN REGION"
18,2023-05-03 02:12:30.5,9.43 N,78.63 W,PANAMA
19,2023-05-03 02:11:41.0,33.29 S,71.93 W,"OFFSHORE VALPARAISO, CHILE"

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [1345]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [1346]:
#your code

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [1347]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/NASA'

In [1348]:

#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1349]:
tuit = soup.find('div').text.split()

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [1350]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/jasantaolalla?lang=es'

In [1351]:
#your code
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1352]:
ja = soup.find('span')
text = ja.text

text

'Something went wrong, but don’t fret — let’s give it another shot.'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [1353]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [1354]:
#your code
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1355]:
central = soup.find_all('div', class_='central-featured')

idioma = []

for c in central:
    idioma.append(c.text.strip())

idioma = [i.split('\n') for i in idioma]

#esta opción es chapuzera

In [1356]:
pruebas = soup.find_all('strong')

pole = []

for p in pruebas:
    pole.append(p.text.strip())

pole.pop(0)
pole.pop()

pole

['English',
 'Русский',
 '日本語',
 'Deutsch',
 'Español',
 'Français',
 'Italiano',
 '中文',
 'فارسی',
 'Português']

#### A list with the different kind of datasets available in data.gov.uk

In [1357]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [1358]:
#your code 
#extraemos el HTML
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')

In [1359]:
gov = soup.find_all('h3')

titl = []

for g in gov:
    titl.append(g.text.strip())

titl

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [1360]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [1361]:
#your code
html = requests.get(url).content
#parseamos
soup = BeautifulSoup(html,'html.parser')
tabla = soup.find('table')
filas=tabla.find_all('tr')
primeras_10=filas[1:10]

lenguaje=[]
Numero_hablantes=[]
Familia_lenguaje=[]
Branch=[]
columnas=primeras_10[0].find_all('td')
columnas[0].text.replace('\n','')

for x in primeras_10:
    columnas=x.find_all('td')
    lenguaje.append(columnas[0].text.replace('\n',''))
    Numero_hablantes.append(columnas[1].text.replace('\n',''))
    Familia_lenguaje.append(columnas[2].text.replace('\n',''))
    Branch.append(columnas[3].text.replace('\n',''))

resultado=pd.DataFrame()
resultado['Lenguaje']=lenguaje
resultado['Nº Hablantes']=Numero_hablantes
resultado['Fam Lenguaje']=Familia_lenguaje
resultado['Branch']=Branch

In [1362]:
resultado

,Lenguaje,Nº Hablantes,Fam Lenguaje,Branch
0,"Mandarin Chinese(incl. Standard Chinese, but e...",939,Sino-Tibetan,Sinitic
1,Spanish,485,Indo-European,Romance
2,English,380,Indo-European,Germanic
3,"Hindi(excl. Urdu, and other languages)",345,Indo-European,Indo-Aryan
4,Portuguese,236,Indo-European,Romance
5,Bengali,234,Indo-European,Indo-Aryan
6,Russian,147,Indo-European,Balto-Slavic
7,Japanese,123,Japonic,Japanese
8,Yue Chinese(incl. Cantonese),86.1,Sino-Tibetan,Sinitic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [1363]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [1364]:
# your code
#your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [1599]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

html = requests.get(url).content
#parseamos
soup_imbd = BeautifulSoup(html,'html.parser')

In [1600]:
# your code
imbd = soup_imbd.find('table')
filas=imbd.find_all('tr') #filas
primeras_250=filas[1:250]

primeras_250[0].text #primera que interesa el slicing es bueno

hola = []

for p in primeras_250:
    hola.append(p.text.strip())
    

primeras_250[0]

title=[]
release=[]

columnas=primeras_250[0].find_all('td')
columnas[1].text.strip()

'1.\n      Cadena perpetua\n(1994)'

In [1601]:
for p in primeras_250:
    columnas=p.find_all('td')
    titu=(columnas[1].text.replace('\n','')).strip().split('  ')[-1]
    title.append(titu)

    fecha = titu.split('(')[1].replace(')', '')
    release.append(fecha)

In [1602]:
resultado=pd.DataFrame()
resultado['Film']=title
resultado['Date']=release

resultado.head()

                          Film      Date
0        Cadena perpetua(1994)      1994
1             El padrino(1972)      1972
2    El caballero oscuro(2008)      2008
3  El padrino (parte II)(1974)  parte II
4  12 hombres sin piedad(1957)      1957

In [1603]:
'''

title=[]
rating=[]
release=[]
director=[]

for x in primeras_250:
    columnas=x.find_all('td')
    title.append(columnas[1].text.replace('\n',''))
    rating.append(columnas[2].text.replace('\n',''))
    release.append(columnas[3].text.replace('\n',''))
    director.append(columnas[4].text.replace('\n',''))

    '''

"\n\ntitle=[]\nrating=[]\nrelease=[]\ndirector=[]\n\nfor x in primeras_250:\n    columnas=x.find_all('td')\n    title.append(columnas[1].text.replace('\n',''))\n    rating.append(columnas[2].text.replace('\n',''))\n    release.append(columnas[3].text.replace('\n',''))\n    director.append(columnas[4].text.replace('\n',''))\n\n    "

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [1604]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [1605]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [1606]:
#https://openweathermap.org/current
#city = city=input('Enter the city:')
#url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [1607]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [1608]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [1609]:
#your code